@page
@using School.Web.Model
@model School.Web.Pages.Grade.UpdateModel

<h2>Actualizar Grado</h2>


<form method="post">
    <input type="hidden" class="form-control" id="Id" name="Grade.Id" asp-for="Grade.Id" required />

    <div class="form-group">
        <label asp-for="Grade.Name">Nombre del Grado</label>
        <input type="text" class="form-control" asp-for="Grade.Name" />
        <span asp-validation-for="Grade.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Grade.TeacherId">Seleccionar Maestro</label>
        <select asp-for="Grade.TeacherId" class="form-control">
            @foreach (var teacher in Model.Teachers)
            {
                <option value="@teacher.Id">
                    @teacher.Name
                </option>
            }
        </select>
        <span asp-validation-for="Grade.TeacherId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
</form>